{% extends 'layout.html' %}
{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Class Search</li>
        </ol>
    </nav>

    <div class="row">
        <h1 class="col-md-12 text-center">Class Search</h1>
    </div>

    <div class="card-columns">
        <div class="card">
            <div class="card-title">
                <h5 class="card-header text-center text-white bg-baylor-green-std">Title</h5>
                <h6 class="card-text ml-2 mt-2">Session:</h6>
                <h6 class="card-text ml-2">Time:</h6>
                <h6 class="card-text ml-2">Instructor:</h6>
                <h6 class="card-text ml-2">Room:</h6>
                <button type="button" class="ml-2 mt-2 btn text-white bg-baylor-green-std">More</button>
                <button type="button" class="ml-2 mt-2 btn text-white bg-baylor-green-std">Register</button>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h5 class="card-header text-center text-white bg-baylor-green-std">Title</h5>
                <h6 class="card-text ml-2 mt-2">Session:</h6>
                <h6 class="card-text ml-2">Time:</h6>
                <h6 class="card-text ml-2">Instructor:</h6>
                <h6 class="card-text ml-2">Room:</h6>
                <button type="button" class="ml-2 mt-2 btn text-white bg-baylor-green-std">More</button>
                <button type="button" class="ml-2 mt-2 btn text-white bg-baylor-green-std">Register</button>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h5 class="card-header text-center text-white bg-baylor-green-std">Title</h5>
                <h6 class="card-text ml-2 mt-2">Session:</h6>
                <h6 class="card-text ml-2">Time:</h6>
                <h6 class="card-text ml-2">Instructor:</h6>
                <h6 class="card-text ml-2">Room:</h6>
                <button type="button" class="ml-2 mt-2 btn text-white bg-baylor-green-std">More</button>
                <button type="button" class="ml-2 mt-2 btn text-white bg-baylor-green-std">Register</button>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h5 class="card-header text-center text-white bg-baylor-green-std">Title</h5>
                <h6 class="card-text ml-2 mt-2">Session:</h6>
                <h6 class="card-text ml-2">Time:</h6>
                <h6 class="card-text ml-2">Instructor:</h6>
                <h6 class="card-text ml-2">Room:</h6>
                <button type="button" class="ml-2 mt-2 btn text-white bg-baylor-green-std">More</button>
                <button type="button" class="ml-2 mt-2 btn text-white bg-baylor-green-std">Register</button>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h5 class="card-header text-center text-white bg-baylor-green-std">Title</h5>
                <h6 class="card-text ml-2 mt-2">Session:</h6>
                <h6 class="card-text ml-2">Time:</h6>
                <h6 class="card-text ml-2">Instructor:</h6>
                <h6 class="card-text ml-2">Room:</h6>
                <button type="button" class="ml-2 mt-2 btn text-white bg-baylor-green-std">More</button>
                <button type="button" class="ml-2 mt-2 btn text-white bg-baylor-green-std">Register</button>
            </div>
        </div>
    </div>


{% endblock content %}