{% extends 'layout.html' %}
{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>

    <div class="row">
        <h3 class="col-md-12 text-center">Welcome to University for Young People!</h3>
    </div>

    {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col-md-4 card p-2">
                <h3 class="card-header bg-baylor-green-std text-white text-center">Profile Info</h3>
                {% if student %}
                    <div class="card-body">
                        <h5 class="text-center">{% if student.preferred %}{{ student.preferred }}{% else %}{{ student.fName }}{% endif %} {{ student.lName }}</h5>
                        <p><b>ID:</b> {{ student.id }}</p>
                        <p><b>Role:</b> {{ current_user.category }}</p>
                        <p><b>Grade Level:</b> {{ student.gradeLevel }}</p>
                        <p><b>Graduation Date:</b> {{ student.expGradDate }}</p>
                        <p><b>Balance Due:</b> {{ student.bill }}</p>
                    </div>
                {% elif staff %}
                    <div class="card-body">
                        <h5 class="text-center">{% if staff.preferred %}{{ staff.preferred }}{% else %}{{ staff.fName }}{% endif %} {{ staff.lName }}</h5>
                        <p><b>ID:</b> {{ staff.id }}</p>
                        <p><b>Role:</b> {{ current_user.category }}</p>
                    </div>
                {% endif %}

            </div>
            <div class="col-md-8 card p-2">
                <h3 class="card-header bg-baylor-green-std text-white text-center">Classes</h3>
                <div class="card-columns p-2">
                    {% if classes|length == 0 %}
                        <h3 class="text-center">No Classes</h3>
                    {% endif %}

                    {% for (title, lvl, maxCap, curSize, instructorID, room, timeSlotID, sessionID, classID, price, iFname, iLname) in classes %}
                        <div class="card">
                            <div class="card-title">
                                <h5 class="card-header text-center text-white bg-baylor-green-std">{{ title }}</h5>
                                <p class="card-text ml-2 mt-2"><b>Session: </b>{{ sessionID }}</p>
                                <p class="card-text ml-2"><b>Time: </b>{{ timeSlotID }}</p>
                                <p class="card-text ml-2"><b>Instructor: </b>{{ iFname }} {{ iLname }}</p>
                                <p class="card-text ml-2"><b>Level: </b>{{ lvl }}</p>
                                <p class="card-text ml-2"><b>Price: </b>${{ price }}</p>
                                <p class="card-text ml-2"><b>Room: </b>{{ room }}</p>
                                {% if current_user.category == 'Staff' %}
                                    <p class="card-text ml-2"><b>Registered: </b>{{ curSize }}/{{ maxCap }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}